* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #cfdef3, #e0eafc); 
}

.card {
    background: linear-gradient(135deg, #667eea, #764ba2);
    width: 90%;
    max-width: 470px;
    color: #fff;
    padding: 40px 35px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    width: 85%;
    padding: 12px 15px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    outline: none;
}

.search button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: whitesmoke;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 25px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    background-color: rgba(255, 0, 0, 0.1);
    color: red;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 500;
    display: none;
    }